@model WebSite.Models.Ticket
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BuyTicket</title>
</head>
<body>
    <div> 
        <p>Ticket for event: @Model.Event.Name</p>
        <p>Price: @Model.Event.Price</p>
        <p>Movie: @Model.Event.Movie</p>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Row</label>
        @Html.TextBoxFor(x => x.Row, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Seat</label>
        @Html.TextBoxFor(x => x.Seat, new { @class = "form-control" })
    </div>

        <button type="submit" class="btn btn-primary">Buy</button>
    </div>
</body>
</html>
