@model IEnumerable<WebSite.Models.EventLikedModel>
{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var eventModel in Model)
        {
            <p> <b>Кінотеатр:</b>  @eventModel.Cinema </p>
            <p> <b>Фільм:</b>@eventModel.Film </p>
            if (eventModel.IsApproved)
            { <p> <b>Статус:</b> Затверджено </p>}
            else
            { <p> <b>Статус:</b> Розглядається </p>}
            <p> <b>Користувач, що запропонував:</b> @eventModel.Author</p>
            <p> <b>Ціна:</b> @eventModel.Price грн</p>

            if (!eventModel.IsLiked)
            {
                @Html.ActionLink("LIKE", "LikeEvent", "Event", eventModel, new { @class = "btn btn-danger" })
            }
            else
            {
                @Html.ActionLink("DISLIKE", "DislikeEvent", "Event", eventModel, new { @class = "btn btn-success" })
            }

        }
    </div>
</body>
</html>
