@model WebSite.Models.EventLikedModel
{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <title>Index</title>
</head>
<body>
    <div>
       
       
            <p> <b>Кінотеатр:</b>  @Model.Cinema </p>
            <p> <b>Фільм:</b>@Model.Film </p>
            @if (Model.IsApproved == true)
            { <p> <b>Статус:</b> Затверджено </p>}
            else if (Model.IsApproved == null)
            { <p> <b>Статус:</b> Розглядається </p>}
            else
            {
                { <p> <b>Статус:</b> Не Затверджено </p>}
            }
            <p> <b>Користувач, що запропонував:</b> @Model.Author</p>
            <p> <b>Ціна:</b> @Model.Price грн</p>

            @if (!Model.IsLiked)
            {
                @Html.ActionLink("LIKE", "LikeEvent", "Event", Model, new { @class = "btn btn-danger" })
            }
            else
            {
                @Html.ActionLink("DISLIKE", "DislikeEvent", "Event", Model, new { @class = "btn btn-success" })
            }
            <p> Кількість лайків: @Model.LikesAmount</p>

        @Html.ActionLink("Buy ticket", "BuyTicket", "Event", Model, new { @class = "btn btn-success" })
    </div>
</body>
</html>
