@model WebSite.Models.Movie
@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie</title>
</head>
<body>
    <div>
        <p>Назва фільму: @Model.Name</p>
        <p>Рік показу: @Model.Year</p>
        <p>
            Жанр: @Model.Genre
        </p>
        <p>
            Режисер: @Model.Author
        </p>
        <p>
            Актори:
           
            <p>@Model.Cast</p> 
            
        </p>
        <p>Опис фільму: @Model.Description</p>
    </div>
</body>
</html>
