@model IEnumerable<WebSite.Models.Movie>
@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie</title>
</head>
<body>
@foreach (var movieModel in Model)
{
    <div>
        <p>Назва фільму: @movieModel.Name</p>
        <p>Рік показу: @movieModel.Year</p>
        <p>
            Жанр: @movieModel.Genre
        </p>
        <p>
            Режисер: @movieModel.Author
        </p>
        <p>
            Актори:
           
            <p>@movieModel.Cast</p> 
            
        </p>
        <p>Опис фільму: @movieModel.Description</p>
        <p></p>
    </div>
}
</body>
</html>
