@model WebSite.Models.SearchModel
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div> 
@using (Html.BeginForm())
{
    <div class="form-group">
        <label class="col-lg-2 control-label" for="searchText">Cinema name:</label>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Type cinema name here", id = "searchText" })
        </div>
        <input type="submit" value="GO" class="btn btn-success" />
    </div>
}
        @foreach(var cinema in Model.CinemasFound)
        {
            <p>@Html.ActionLink(@cinema.Name, "ViewCinema", "Cinema",new { cinemaId = cinema.CinemaId} , null) </p>
            <p>@cinema.CinemaId</p>
            <p>@cinema.Address</p>
        }

    </div>
</body>
</html>
