@model WebSite.Models.RegisterCinemaModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterEvent</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>Cinema name: @Html.TextBoxFor(x => x.Cinema.Name) </p>
            <p>Description : @Html.TextBoxFor(x => x.Cinema.Description) </p>
            <p>Address : @Html.TextBoxFor(x => x.Cinema.Address)</p>
            <p>Rows : @Html.TextBoxFor(x => x.Cinema.Rows)</p>
            <p>Seats : @Html.TextBoxFor(x => x.Cinema.Seats) </p>
            <input type="submit" value="Confirm" />
        }
        <p>  @Html.ActionLink("Cancel", "ViewUser", "UserPage", new { userId = Model.CurrentUserId }, new { @class = "btn btn-default" }) </p>

    </div>
</body>
</html>
