@model WebSite.Models.Cinema
@{

}
@using WebSite.HtmlHelpers;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cinema</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    
    <p>@Model.Address</p>

    @if (true)
    {
        @Html.ActionLink("Delete cinema", "DeleteCinema", "UserPage", new { cinemaId = Model.CinemaId }, new { @class = "btn btn-default" })
    }

    <p>@Html.ActionLink("Register Event", "Register", "RegisterEvent", new { cinemaId = Model.CinemaId }, null) </p>

    <p>@Html.ActionLink("View all events in this Cinema", "ViewEvent", "Event", new { cinemaId = Model.CinemaId }, null) </p>
</body>
</html>
