@model WebSite.Models.CinemaPageModel
@{

}
@using WebSite.HtmlHelpers;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cinema</title>
</head>
<body>
    <h1>@Model.CurrentCinema.Name</h1>
    <p>@Model.CurrentCinema.Description</p>
    
    <p>@Model.CurrentCinema.Address</p>


    @if (true)
    {
        @Html.ActionLink("Delete cinema", "DeleteCinema", "UserPage", new { cinemaId = Model.CurrentCinema.CinemaId }, new { @class = "btn btn-default" })
    }

    <p>@Html.ActionLink("Register Event", "Register", "RegisterEvent", new { cinemaId = Model.CurrentCinema.CinemaId }, null) </p>

    <p>Events:</p>
    @if (Model.Events != null)
    {
        foreach(var even in Model.Events)
        {
            <li>@Html.ActionLink(even.Name, "ViewEvent", "Event", new { eventId = even.EventId }, null)
                </li>
        }
    }
    else
    {
<p> No Events yet. </p>
    }

   @* <p>@Html.ActionLink("View all events in this Cinema", "ViewEvent", "Event", new { cinemaId = Model.CurrentCinema.CinemaId }, null) </p>*@
</body>
</html>
