@model WebSite.Models.Cinema
@{
    Layout = null;
}
@using WebSite.HtmlHelpers;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cinema</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <p>Seats count: @Model.Seats.Count</p>
    <ul>
        
        @foreach (var item in Model.Events)
        {
            Html.EventLinks(item);
        }
        @for (int i = 0; i < Model.Events.Count; i++)
        {
            <li>@Html.ActionLink(Model.Events[i].Movie.Name, "ViewEvent", "Event", i, null) </li>
        }
    </ul>
    <p>Address: @Model.Address</p>
</body>
</html>
